<div *ngIf="paper">
  <div class="container">
    <h1>Update {{paper.id}}</h1>

    <form novalidate="novalidate" class="form-horizontal" enctype="multipart/form-data">
      <div class="form-group label-floating">
        <label class="control-label"for="inputPaperId">Paper id:</label>
        <input class="form-control" type="text" id="inputPaperId" name="id" [(ngModel)]="paper.id" #id readonly/>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="inputPaperTitle">Paper Title:</label>
        <input class="form-control" type="text" id="inputPaperTitle" name="date" [(ngModel)]="paper.title" #title/>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="inputPaperAbstract">Paper Abstract:</label>
        <input class="form-control" type="text" id="inputPaperAbstract" name="abstractText" [(ngModel)]="paper.abstractText" #abstractText/>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="inputPaperKeywords">Paper Keywords:</label>
        <input class="form-control" type="text" id="inputPaperKeywords" name="keywords" [(ngModel)]="paper.keywords" #keywords/>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="inputPaperTopics">Paper Topics:</label>
        <input class="form-control" type="text" id="inputPaperTopics" name="topics" [(ngModel)]="paper.topics" #topics/>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="inputPaperAuthors">Paper Author:</label>
        <input class="form-control" type="text" id="inputPaperAuthors" name="authors" [(ngModel)]="paper.authorsUsername" #authors/>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="inputPaperAuthors">Paper SessionId:</label>
        <input class="form-control" type="text" id="inputPaperSessionId" name="sessionId" [(ngModel)]="paper.sessionId" #sessionId/>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="pdfInput">Paper document:</label>
        <input type="file" id="pdfInput" class="form-control" name="pdfInput" (change)="fileChange($event)">
      </div>
      <div class="form-group">
        <a (click)="cancel()" class="btn btn-raised btn-danger">cancel</a>
        <a (click)="updatePaperDetail(authors.value)" class="btn btn-raised btn-info">update paper</a>
        <a (click)="updatePaperSessionId(sessionId.value)" class="btn btn-raised btn-info">set paper's session</a>
        <a (click)="addPaperWithFile(title.value, abstractText.value, keywords.value, topics.value, authors.value)" class="btn btn-raised btn-info">Add Paper document</a>
      </div>
    </form>
  </div>
</div>
