/* You can add global styles to this file, and also import other style files */
@import url("dist/css/bootstrap-material-design.css");
@import url("dist/css/ripples.css");

/*.sidebar .nav > li.active-pro{*/
  /*position: absolute;*/
  /*width: 100%;*/
  /*bottom: 10px;*/
/*}*/
/*.sidebar .nav > li.active-pro a{*/
  /*background: rgba(255, 255, 255, 0.14);*/
  /*opacity: 1;*/
  /*color: #FFFFFF;*/
/*}*/

.wrapper {
  width: 100%;
}

.subcontainer {
  display: table;
}

.sidebar {
  /*padding-top: 100px;*/
  width: 10%;
  display: table-cell;
}

.pagecontainer {
  width: 90%;
  padding-top: 10px;
  /*align:right;*/
  display: table-cell;
}

.navbtn {
  margin:40px;
  margin-left: 10px;
}
