target
node_modules

# Eclipse
.classpath
.project
.settings
.metadata

# IntelliJ IDEA
*.iml
*.ipr
*.iws
/.idea/
build
out

#gradle
gradle
.gradle

/conference-web/src/main/resources/local/db.properties
