<div class="container">
  <h1>Add new Paper</h1>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="form-group label-floating">
      <label class="control-label" for="inputPaperTitle">Paper Title:</label>
      <input class="form-control" type="text" id="inputPaperTitle" name="title" #title/>
    </div>
    <div class="form-group label-floating">
      <label class="control-label" for="inputPaperAuthor">Paper Author:</label>
      <input class="form-control" type="text" id="inputPaperAuthor" name="author" #author/>
    </div>
    <div class="form-group label-floating">
      <label class="control-label" for="inputPaperContent">Paper Content:</label>
      <input class="form-control" type="text" id="inputPaperContent" name="content" #content/>
    </div>
    <div class="form-group">
      <a (click)="cancel()" class="btn btn-raised btn-danger">cancel</a>

      <a (click)="addPaper(title.value, author.value, content.value)" class="btn btn-raised btn-info">create new paper</a>
    </div>
  </form>
</div>
