<h1 style="text-align:center;">
  {{title}}
</h1>
<!--<nav style="text-align:center;">-->
  <!--<a class="btn btn-raised btn-primary" routerLink="/conferences" routerLinkActive="active">Conferences</a>-->
  <!--<a class="btn btn-raised btn-primary" routerLink="/sessions" routerLinkActive="active">Sessions</a>-->
  <!--<a class="btn btn-raised btn-primary" routerLink="/persons" routerLinkActive="active">Persons</a>-->
  <!--<a class="btn btn-raised btn-primary" routerLink="/papers" routerLinkActive="active">Papers</a>-->
  <!--<a class="btn btn-raised btn-primary" routerLink="/login" routerLinkActive="active">Login</a>-->
<!--</nav>-->
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
