
.wrapper {
  width: 100%;
  /*height: 100%;*/
  position: fixed;
}

.subcontainer {
  display: table;
}

.sidebar {
  /*padding-top: 100px;*/
  width: 15%;
  display: table-cell;
  background-color: white;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
}

.pagecontainer {
  width: 85%;
  padding-top: 10px;
  /*align:right;*/
  display: table-cell;
  /*align-content: inherit;*/
  /*position: absolute;*/
}

.navbtn {
  margin:50px;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 15px;
}

.container {
  margin-left: 30%;
}

.hdr {
  height: 60px;
  background-color: white;

  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px ;
}
