<!--<h1 style="text-align:center;">-->
  <!--{{title}}-->
<!--</h1>-->
<div class="hdr">
  <span> <a _ngcontent-c0="" class="btn mybtn" routerlink="/login" routerlinkactive="active" ng-reflect-router-link="/login" ng-reflect-router-link-active="active" href="/login" style="float:right">Login/Register<div class="ripple-container"></div></a> </span>
  <span> <a _ngcontent-c0="" class="btn mybtn" routerlink="" routerlinkactive="active" ng-reflect-router-link="" ng-reflect-router-link-active="active" href="" style="float:right">Logout<div class="ripple-container"></div></a></span>
</div>

  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="navbtn">
            <a class="btn btn-inverse active" href="/">Home<div class="ripple-container"></div></a>

          </li>

          <li class="navbtn">
            <a _ngcontent-c0="" class="btn mybtn" routerlink="/conferences" routerlinkactive="active" ng-reflect-router-link="/conferences" ng-reflect-router-link-active="active" href="/conferences">Conferences<div class="ripple-container"></div></a>
          </li>

          <li class="navbtn">
            <a _ngcontent-c0="" class="btn mybtn" routerlink="/sessions" routerlinkactive="active" ng-reflect-router-link="/sessions" ng-reflect-router-link-active="active" href="/sessions">Sessions<div class="ripple-container"></div></a>
          </li>

          <li class="navbtn">
            <a _ngcontent-c0="" class="btn mybtn" routerlink="/persons" routerlinkactive="active" ng-reflect-router-link="/persons" ng-reflect-router-link-active="active" href="/persons">Persons<div class="ripple-container"></div></a>
          </li>

          <li class="navbtn">
            <a _ngcontent-c0="" class="btn mybtn" routerlink="/papers" routerlinkactive="active" ng-reflect-router-link="/papers" ng-reflect-router-link-active="active" href="/papers">Papers</a>
          </li>

          <li class="navbtn">
            <a _ngcontent-c0="" class="btn mybtn" routerlink="/login" routerlinkactive="active" ng-reflect-router-link="/login" ng-reflect-router-link-active="active" href="/login">Login<div class="ripple-container"></div></a>
          </li>

        </ul>
      </div>
    </div>

    <nav style="text-align:center;">
      <div class="pagecontainer">
          <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
              <alert></alert>
              <router-outlet></router-outlet>
            </div>
          </div>
      </div>


</nav>

