<h1 style="text-align:center;">
  {{title}}
</h1>
<nav style="text-align:center;">
  <a class="btn btn-raised btn-primary" routerLink="/conferences" routerLinkActive="active">Conferences</a>
  <a class="btn btn-raised btn-primary" routerLink="/sessions" routerLinkActive="active">Sessions</a>
  <a class="btn btn-raised btn-primary" routerLink="/persons" routerLinkActive="active">Persons</a>
  <a class="btn btn-raised btn-primary" routerLink="/papers" routerLinkActive="active">Papers</a>
</nav>
<router-outlet></router-outlet>
